* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EEF0F4;
    font-size: 16px;
    font-family: 'outfit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    margin: 30vh auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
}

input {
    all: unset;
    /* font-size: 12px; */
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background: transparent;
    text-transform: capitalize;
}

input:focus {
    border: 1px solid #fc807f;
}

p {
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

button {
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    background: #fc807f;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    /* padding: 0; */
    padding: 15px 0;
}

li {
    list-style: none;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    text-transform: capitalize;
    /* background-color: #FFFDF8; */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}